<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>À propos</h2>
        <!-- <p>Groupe Africain fondé en 1994, spécialisé dans l'édition et l’intégration de logiciels financiers destinés aux banques et institutions financières.<br> -->
          <!-- Acteur majeur de la place financière africaine, le groupe BFI favorise les relations pérennes et l’engagement de développement dans un continent en perpétuelle évolution.</p> -->
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <h1>
            Simplifiez vous la vie!
             <br>devenez We
          </h1>
          <h4 style="color: black;">
           <br> We Initiate
           <br>L’offre 100% gratuite
          </h4>
          <hr>
          <ul>
            <li><i class="ri-check-double-line"></i> Un compte de dépôt inclus, avec une carte Mastercard Nationale.</li>
            <li><i class="ri-check-double-line"></i> Personnalisez le visuel de votre carte selon votre choix.</li>
            <li><i class="ri-check-double-line"></i> Gérez votre compte et votre carte en ligne 24h/24 et 7j/7.</li>
            <li><i class="ri-check-double-line"></i> Profitez de zéro frais sur tous les virements émis en ligne.</li>
            <li><i class="ri-check-double-line"></i> Aucun frais supplémentaire sur les virements reçus.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h1 style="color: black;">
            BFI bank ,  Une seule offre, mais la meilleure pour vous!
          </h1>
         
          <a href="#" class="btn-learn-more">En savoir plus</a>
          <br>
          <br>
          

        </div> 
        
        
      </div>

    </div>
  </section><!-- End About Us Section -->
