  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>BFI Bank - Optez pour une banque en ligne intelligente et pratique.</h1>
          <h2>Vivez l'expérience de la banque en ligne!</h2>
          <a href="https://www.youtube.com/watch?v=BnsvY6c_CPg" class="glightbox play-btn mb-4"></a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
